@using CarWorkShop.Models.Entity
@model List<Record>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (User.Identity.IsAuthenticated)
{
    <div>
         <a class=" flex-sm-fill text-sm-center" asp-controller="Record" asp-action="GetRecords">Все записи</a>
    </div>
}

